//NAVBAR
.navbar {
  font-family: "BubbleGum";
  // width: 1500px !important;
  // max-width: 1500px !important;

  // text-align: center !important;
  // margin: 0 auto !important;
  padding: 0 !important;
  // position: fixed !important;
  top: 0;
  z-index: 1000 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 2px solid var(--secondary) !important;
  border-top: 2px solid var(--secondary) !important;

  .in {
    height: 0 !important;
  }
  #navbarSupportedContent {
    height: 100% !important;
  }
  .nav-item {
    margin-right: 2vw !important;
    font-size: 1.5em !important;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-collapse {
  }
  .nav-logo {
    max-height: 100px !important;
    max-height: 100px !important;
    padding: 0 !important;
    // padding: 0 10% !important;
    // max-width: 70%;
    // display: block;
    // margin: 0 auto;
    // margin-top: -5vh !important;
  }
}
