//ROADMAP
#road-map::before {
  content: "";
  position: absolute;
  top: -20vh;
  left: 0;
  width: 100%;
  max-width: 1496px !important;
  z-index: -1 !important;
  height: 200px;
  background: url("config/images/Triangle-2.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#road-map::after {
  content: "";
  position: absolute;
  bottom: -15vh;
  left: 0;
  width: 100%;
  max-width: 1496px !important;
  z-index: -1 !important;
  height: 200px;
  background: url("config/images/Wave-Down.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  padding-left: 0 !important;
}

.wwf {
  border: 5px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
  border-radius: 2vw;
  max-height: 20vh;
}
.wwf:hover {
  border: 5px solid var(--secondary);
  transition: all 0.3s;
}

.minting-time {
  max-width: 80%;
  margin: 0 auto;
}

#road-map {
  position: relative;
  z-index: 2 !important;
  .roadmap-title {
    z-index: 3 !important;
  }
  .roadmap-top {
    // width: 100% !important;
    // height: 10vh !important;
    // clip-path: polygon(100% 0%, 100% 100%, 50% 10%, 0% 100%, 0% 0%);
    // @extend %upwardTriangle;
    // background-color: #006582;
    // border: 2px solid red;
  }
  // .roadmap-top-div {
  //   position: relative;
  //   height: 0px;
  //   top: 0 !important;
  // }
  // .roadmap-top-img {
  //   position: relative;
  //   top: 0 !important;
  //   left: 0 !important;
  // }
  .roadmap-li {
    font-size: 2em !important;
  }
  .roadmap-ul {
    // max-width: 50vw;
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin: 0 auto;
    max-width: 80%;
  }
  .mint-countdown,
  .minting-time > .react-countdown-container > h1,
  .react-countdown-container {
    font-size: 35px !important;
    text-shadow: 2px 2px #006582;
    color: var(--secondary) !important;
    padding: 1vw;
    // margin-top: 4vw !important;
    border-radius: 2vw;
    border: 2px solid var(--blue);
  }
  .phase-six-details {
    max-width: 60vw;
    text-align: center;
    margin: 0 auto;
  }
  .roadmap-bottom {
    @extend %wave;

    background-color: #212529;
  }
}

@media only screen and (max-width: 768px) {
  .roadmap-ul {
    // font-size: 2em !important;
    // max-width: 100% !important;
  }
}
