//TEAM
#team {
  position: relative;
  z-index: 3 !important;
  .team-title {
    padding-top: 10vh;
  }
  .team-text {
    line-height: 30px !important;
  }
  .frame-profile-pic {
    width: 40vw;
    max-width: 1000px;
  }
  .deviantart-logo {
    max-width: 75px;
    border-radius: 50%;
    z-index: 3 !important;
    margin: 0 auto;
    text-align: center;
    // background-color: #fff;
    box-shadow: 0px 0px 0px 0px #0ff;
    transition: all 0.3s;
  }

  .deviantart-logo:hover {
    box-shadow: 0px 0px 10px 10px #0ff;
    transition: all 0.3s;
  }
  // .team-bottom {
  //   @extend %downTriangle;
  //   background-color: #006582;
  //   position: relative;
  //   top: 3px !important;
  // }
}

#team::before {
  content: "";
  position: absolute;
  top: -5vh;
  left: 0;
  width: 100%;
  max-width: 1496px !important;
  z-index: -1 !important;
  height: 200px;
  background: url("config/images/Wave-Up.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#team::after {
  content: "";
  position: absolute;
  bottom: -10vh;
  left: 0;
  width: 100%;
  max-width: 1496px !important;
  z-index: -1 !important;
  height: 200px;
  background: url("config/images/Triangle-Down.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

//team
@media only screen and (max-width: 768px) {
  .frame-profile-pic {
    width: 80% !important;
  }
}
